<!DOCTYPE html>
<html>
<head>
    <title>Portfolio Optimization</title>
</head>
<body>
    <h1>Portfolio Optimization</h1>
    <form action="/result" method="post">
        <label for="symbol1">銘柄1:</label>
        <input type="text" id="symbol1" name="symbol1" required><br>
        <label for="symbol2">銘柄2:</label>
        <input type="text" id="symbol2" name="symbol2"><br>
        <label for="symbol3">銘柄3:</label>
        <input type="text" id="symbol3" name="symbol3"><br>
        <label for="symbol4">銘柄4:</label>
        <input type="text" id="symbol4" name="symbol4"><br>
        <label for="symbol5">銘柄5:</label>
        <input type="text" id="symbol5" name="symbol5"><br>
        <label for="symbol6">銘柄6:</label>
        <input type="text" id="symbol6" name="symbol6"><br>
        <label for="symbol7">銘柄7:</label>
        <input type="text" id="symbol7" name="symbol7"><br>
        <label for="symbol8">銘柄8:</label>
        <input type="text" id="symbol8" name="symbol8"><br>
        <label for="symbol9">銘柄9:</label>
        <input type="text" id="symbol9" name="symbol9"><br>
        <label for="symbol10">銘柄10:</label>
        <input type="text" id="symbol10" name="symbol10"><br>
        <input type="submit" value="Optimize">
    </form>
</body>
</html>
